@model Books.reader

@{
    ViewBag.Title = "Details";
}

<h2>Reader Details:</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name_reader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name_reader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.surName_reader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.surName_reader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_reader)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_reader)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mark_disposal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mark_disposal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ticket_number }, htmlAttributes: new { @class = "btn btn-info" })  |
    @Html.ActionLink("Back to List", "Index")
</p>
